name: Java CI with Gradle

on: [push, pull_request]   # yamllint disable-line rule:truthy

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: ['17', '21', '24', '25']

    steps:

      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
          show-progress: false
      - name: Set up JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
      - name: ./gradlew nativeCompile check
        run: ./gradlew nativeCompile check
